<!DOCTYPE html>
<html ng-app="statement">
    <head>
        <!-- website title -->
        <title>Тестовое задание</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

        <!-- build:css styles/styles.css-->
        <link href=".tmp/app.css" rel="stylesheet" />
        <!-- endbuild -->
        <link href="/bower_components/ng-notify/src/styles/ng-notify.css" rel="stylesheet" />
    </head>
  
    <body>
        <div class="container profile" ng-controller="FormCtrl as vm" mtc-scroll id="page" ng-class="{min:boolChangeClass}">
            <h1>Профиль</h1>  

            <div ng-if="scrolled" style="position:fixed;bottom:0;right:0;">!!!!!!!!!!!!!!</div>

            <div class="row">
                <div class="col-sm-4">
                    <img src="images/photo.jpg" />
                </div>
                <div class="col-sm-8">
                    <form role="form" name="appform" class="form">
                        <div class="form-group"
                            ng-class="{'has-error':vm.submit && !vm.statement.title}">
                            <label class="control-label">
                                ФИО
                            </label>
                            <div>
                                <input type="text" class="form-control input-lg" 
                                    name="title"
                                    ng-model="vm.statement.title" 
                                    placeholder="Введите ФИО"
                                    ng-required="true"/>

                                <span class="help-block alert alert-danger statements__alert">
                                    Введите ФИО
                                </span>
                            </div>
                        </div><!-- end form group -->
                        <div class="form-group"
                            ng-class="{'has-error':vm.submit && !vm.statement.date}">

                            <label class="control-label">
                                E-mail
                            </label>
                            <div>
                                <input type="text" class="form-control input-lg" 
                                    name="title"
                                    ng-model="vm.statement.email" 
                                    placeholder="Введите ФИО"
                                    ng-required="true"/>                                

                                <span class="help-block alert alert-danger statements__alert">
                                    Введите e-mail
                                </span>
                            </div>
                        </div><!-- end form group -->
                        <div class="form-group"
                            ng-class="{'has-error':vm.submit && !vm.statement.title}">
                            <label class="control-label">
                                Телефон
                            </label>
                            <div>
                                <input type="text" class="form-control input-lg" 
                                    name="title"
                                    ng-model="vm.statement.title" 
                                    placeholder="Введите телефон"
                                    ng-required="true"/>

                                <span class="help-block alert alert-danger statements__alert">
                                    Введите телефон
                                </span>
                            </div>
                        </div><!-- end form group -->
                        <div class="form-group"
                            ng-class="{'has-error':vm.submit && !vm.statement.title}">
                            <label class="control-label">
                                Город
                            </label>
                            <div>
                                <input type="text" class="form-control input-lg" 
                                    name="title"
                                    ng-model="vm.statement.title" 
                                    placeholder="Введите город"
                                    ng-required="true"/>

                                <span class="help-block alert alert-danger statements__alert">
                                    Введите город
                                </span>
                            </div>
                        </div><!-- end form group -->
                        <div class="form-group"
                            ng-class="{'has-error':vm.submit && !vm.statement.title}">
                            <label class="control-label">
                                Образование
                            </label>
                            <div>
                                <input type="text" class="form-control input-lg" 
                                    name="title"
                                    ng-model="vm.statement.title" 
                                    placeholder="Введите образование"
                                    ng-required="true"/>

                                <span class="help-block alert alert-danger statements__alert">
                                    Введите образование
                                </span>
                            </div>
                        </div><!-- end form group -->
                        <div class="form-group"
                            ng-class="{'has-error':vm.submit && !vm.statement.title}">
                            <label class="control-label">
                                Коротко о себе
                            </label>
                            <div>
                                <textarea type="text" class="form-control" 
                                    name="title"
                                    ng-model="vm.statement.title" 
                                    placeholder="Введите информацию"
                                    ng-required="true"></textarea>

                                <span class="help-block alert alert-danger statements__alert">
                                    Введите информацию
                                </span>
                            </div>
                        </div><!-- end form group -->
                        <div class="form-group">
                            <div class="col-sm-8 col-sm-offset-4">
                                <input type="button" class="btn btn-lg btn-primary" 
                                    value="Отправить" ng-click="vm.sent()" />
                            </div>
                        </div><!-- end form group -->

                    </form>
                </div>
            </div>
        </div> 
        <!-- build:js js/lib.js -->
        <script src="/bower_components/angular/angular.js"></script>
        <script src="/bower_components/ng-notify/src/scripts/ng-notify.js"></script>
        <script src="/bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
        <!-- endbuild -->

        <!-- build:js js/app.js -->
        <script src="./src/client/app/statement.module.js"></script>
        <script src="./src/client/app/form.controller.js"></script>
        <script src="./src/client/app/dateFormat.service.js"></script>
        <script src="./src/client/app/offset.service.js"></script>
        <script src="./src/client/app/statement.service.js"></script>
        <script src="./src/client/app/calendar.directive.js"></script>
        <script src="./src/client/app/scroll.directive.js"></script>
        <!-- inject:templates:js -->
        <!-- endinject -->

        <!-- endbuild -->
    </body>
</html>