<!DOCTYPE html>
<html ng-app="app">
    <head>
        <!-- website title -->
        <title>Тестовое задание</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

        <!-- build:css styles/styles.css-->
        <link href=".tmp/app.css" rel="stylesheet" />
        <!-- endbuild -->
        <link href="/bower_components/ng-notify/src/styles/ng-notify.css" rel="stylesheet" />
    </head>
  
    <body>
        <div class="container profile" id="scrollArea" ng-controller="FormCtrl as vm" ng-cloak
            mtc-scroll id="page" ng-class="{min:boolChangeClass}">

            <h1 class="header">Профиль</h1>  
<div id="header"></div>
            <div ng-if="scrolled" class="profile__up" ng-click="vm.toTop()"></div>

            <div class="row">
                <div class="panel panel-primary">
                    <div class="panel-heading">Личные данные</div>
                    <div class="panel-body">
                        <div class="profile__form">
                            <div class="col-sm-4 col-xs-3">
                                <img src="images/photo.jpg" class="profile__img" />
                            </div>
                            <div class="col-sm-7 col-xs-9">
                                <form role="form" name="appform" class="form">
                                    <div class="form-group"
                                        ng-class="{'has-error':vm.submit && !vm.profileInfo.title}">
                                        <label class="control-label">
                                            ФИО
                                        </label>
                                        <div>
                                            <input type="text" class="form-control" 
                                                name="title"
                                                ng-model="vm.profileInfo.fio" 
                                                placeholder="Введите ФИО"
                                                ng-required="true"/>

                                            <span class="help-block alert alert-danger profile__alert">
                                                Введите ФИО
                                            </span>
                                        </div>
                                    </div><!-- end form group -->
                                    <div class="form-group"
                                        ng-class="{'has-error':vm.submit && !vm.profileInfo.date}">

                                        <label class="control-label">
                                            E-mail
                                        </label>
                                        <div>
                                            <input type="text" class="form-control" 
                                                name="title"
                                                ng-model="vm.profileInfo.email" 
                                                placeholder="Введите e-mail"
                                                ng-required="true"/>                                

                                            <span class="help-block alert alert-danger profile__alert">
                                                Введите e-mail
                                            </span>
                                        </div>
                                    </div><!-- end form group -->
                                    <div class="form-group"
                                        ng-class="{'has-error':vm.submit && !vm.profileInfo.title}">
                                        <label class="control-label">
                                            Телефон
                                        </label>
                                        <div>

                                        <phonenumber-directive placeholder="'Введите телефон'"
                                            model="vm.profileInfo.phone"></phonenumber-directive>

                                            <span class="help-block alert alert-danger profile__alert">
                                                Введите телефон
                                            </span>
                                        </div>
                                    </div><!-- end form group -->
                                    <div class="form-group"
                                        ng-class="{'has-error':vm.submit && !vm.profileInfo.title}">
                                        <label class="control-label">
                                            Город
                                        </label>
                                        <div>
                                            <input type="text" class="form-control" 
                                                name="title"
                                                ng-model="vm.profileInfo.city" 
                                                placeholder="Введите город"
                                                ng-required="true"/>

                                            <span class="help-block alert alert-danger profile__alert">
                                                Введите город
                                            </span>
                                        </div>
                                    </div><!-- end form group -->
                                    <div class="form-group"
                                        ng-class="{'has-error':vm.submit && !vm.profileInfo.title}">
                                        <label class="control-label">
                                            Образование
                                        </label>
                                        <div>
                                            <input type="text" class="form-control" 
                                                name="title"
                                                ng-model="vm.profileInfo.education" 
                                                placeholder="Введите образование"
                                                ng-required="true"/>

                                            <span class="help-block alert alert-danger profile__alert">
                                                Введите образование
                                            </span>
                                        </div>
                                    </div><!-- end form group -->
                                    <div class="form-group"
                                        ng-class="{'has-error':vm.submit && !vm.profileInfo.title}">
                                        <label class="control-label">
                                            Коротко о себе
                                        </label>
                                        <div>
                                            <textarea type="text" class="form-control" 
                                                name="title"
                                                ng-model="vm.profileInfo.info" 
                                                placeholder="Введите информацию"
                                                ng-required="true"></textarea>

                                            <span class="help-block alert alert-danger profile__alert">
                                                Введите информацию
                                            </span>
                                        </div>
                                    </div><!-- end form group -->
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">

                <div class="panel panel-primary">
                    <div class="panel-heading">Инфографика</div>
                    <div class="panel-body">    
                        <graph></graph>
                    </div>
                </div>            
            </div>
        </div> 
        <!-- build:js js/lib.js -->
        <script src="/bower_components/angular/angular.js"></script>
        <script src="/bower_components/ng-notify/src/scripts/ng-notify.js"></script>
        <script src="/bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
        <!-- endbuild -->

        <!-- build:js js/app.js -->
        <script src="./src/client/app/app.module.js"></script>
        <script src="./src/client/app/form.controller.js"></script>
        <script src="./src/client/app/graph.directive.js"></script>
        <script src="./src/client/app/maxVal.directive.js"></script>
        <script src="./src/client/app/scroll.directive.js"></script>
        <script src="./src/client/app/phone.directive.js"></script>
        <!-- inject:templates:js -->
        <!-- endinject -->

        <!-- endbuild -->
    </body>
</html>